.container {
  max-width: 740px;
  width: 100%;
  margin: auto;
  padding: 1rem;
}

.setting {
  display: flex;
  gap: 1rem;
}

.liSelected {
  color: #ffffff;
  background-color: var(--BODY-COLOR);
  border: 3px solid #fff;
  opacity: 0.5;
}
