.container {
  padding: 1rem 8%;
  margin: auto 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
}

.setting {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.liSelected {
  color: #ffffff;
  background-color: var(--BODY-COLOR);
  border: 3px solid #fff;
  opacity: 0.5;
}

.btn:active {
  filter: brightness(0.6);
}
