.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.5rem;
}

.quizContainer {
  background-color: #f8f8f8;
  padding: 1rem;
  border-radius: var(--BORDER-RADIUS);
}

.liHover {
  background-color: #d8d8d8;
  columns: #fff;
}

.liSelected {
  color: #fff;
  background-color: var(--BODY-COLOR);
}

.btn {
  background-color: var(--BODY-COLOR);
}

.btn:active {
  opacity: 0.6;
}

.btnDisabled {
  background-color: lightgray;
}

.container p {
  padding: 8px 0;
  color: var(--BODY-COLOR);
}

.source {
  color: var(--BODY-COLOR);
  float: right;
  font-weight: bolder;
  text-decoration: underline;
}
