.container {
  max-width: 740px;
  width: 100%;
  margin: auto;
  padding: 1rem;
}

.quizContainer {
  background-color: #f8f8f8;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: var(--BORDER-RADIUS);
}

.liHover {
  background-color: #d8d8d8;
  columns: #fff;
}

.liSelected {
  color: #fff;
  background-color: var(--BODY-COLOR);
}

.btnDisabled {
  background-color: lightgray;
}

.container p {
  padding: 8px 0;
}

.source {
  color: var(--BODY-COLOR);
  float: right;
}
